<?xml version="1.0"?>
<launch>
  <!-- world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gtri_based_fls)/worlds/blueview_basement_cylinder.world"/>
  </include>

  <!-- rqt_image_view for sonar_image -->
  <node name="rqt_image_view_sonar" pkg="rqt_image_view"
        type="rqt_image_view" args="/sonar_image">
  </node>

</launch>

